-# .container
-#   .profile 
-#     .comment-header-back-image
-#       = link_to root_path do
-#         %i.fas.fa-arrow-left.fa-2x
-#     .account-name
-#       %p= @user.account_name
-#     .profile-img
-#       - if @profile&.image.present?
-#         = image_tag @profile.image
-#       - else 
-#         = image_tag 'Ellipse.png'
