.comment-header-back-image ,.followers-header-back-image, .followings-header-back-image, .posts-header-back-image {
  a {
    color: #000000;
    i {
      position: absolute;
      top: 20px;
    }
  }
}