.container
  .article-new
    = form_with(model: @article, url: articles_path, method: 'post', local:true ) do |f|
      %div
        = f.text_area :content
      %div
        = f.file_field :images, multiple: true
      = f.submit 'Post'
        

