.profile {
  margin-top: 20px;
}

i {
  position: absolute;
  top: 20px;
}

.account-name {
  text-align: center;
}

.profile-img {
  margin-top: 35px;
  text-align: center;
  img {
    width: 76.88px;
    height: 76.88px;
    border-radius: 50%;
  }
}