.profile {
  margin-top: 20px;
  .follow-btn {
    position: fixed;
    top: 20px;
    right: 10px;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    border: 1px solid #000000;
    padding: 3px 7px;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    p {
      color: #000;
      margin: 0;
    }
  }
  .follow-btn:hover {
    color: #fff;
    background: #000;
    p {
      color: #fff;
    }
  }

  .unfollow-btn {
    position: fixed;
    top: 20px;
    right: 10px;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    border: 1px solid #000000;
    padding: 3px 7px;
    border-radius: 10px;
    cursor: pointer;
    background: #000;
    color: #fff;
    text-decoration: none;
    p {
      color: #fff;
      margin: 0;
    }
  }
  .unfollow-btn:hover {
    color: #000;
    background: #fff;
    p {
      color: #000;
    }
  }
  
  
  .hidden {
    display: none;
  }

  i {
    position: absolute;
    top: 20px;
  }

  .account-name {
    text-align: center;
    p {
      margin: 0;
    }
  }
  
  .profile-img {
    margin-top: 35px;
    text-align: center;
    img {
      width: 76.88px;
      height: 76.88px;
      border-radius: 50%;
    }
  }
}

.profile-user-articles {
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 5%;
  .profile-user-articles-images {
    justify-content: center;
    flex-wrap: wrap;
    img {
      width: 32%;
      height: 33%;
    }
  }
}
